@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #8d8cd9e1;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 5px 5px rgba(2, 2, 2, 2) !important;
}

.profile-tab-nav {
	min-width: 200px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 20px 20px;
	border-bottom: 1px solid #ddddddcd;
	border-radius: 1;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #ffffff7b;
}
